<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Rpg Calcul</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="home" href="#">Accueil</a>
      <a class="nav-item nav-link" routerLink="fiche" href="#">Fiche</a>
    </div>
  </div>
</nav>

<div class="container">

<app-message></app-message>

<router-outlet></router-outlet>

</div>
